
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome User/Home!</h1>
    <h2>Welcome, @ViewData["UserName"]!</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Ceqweqweeee123eore</a>.</p>
</div>
<div id="partialContent">
</div>
<div id="slot" class="container mt-5">

</div>
<button id="updateButton">Say hello!</button>
<h4>your id is: @ViewData["UserId"]</h4>

<script src="/js/tables.js"></script>

<script>
    var global_slot_object;
    var user_id;
    var userId;
</script>

<script src="/js/slotting.js"></script>

<script>
    $(document).ready(function() {
        $('#updateButton').click(function() {
            user_id = @ViewData["UserId"];
            userId = @ViewData["UserId"];
            var url = '@Url.Action("FavoriteSlots", "User")' + '?userId=' + userId;
            $.ajax({
                url: url,
                type: 'GET',
                success: function(result) {
                    buildFavoriteSlotsTable();
                    global_slot_object = result;
                    SlotTreeInit(result);
                    //SlotInit(global_slot_object, 4, @ViewData["UserId"]);
                    console.log(result);
                    $('#partialContent').html(result);
                },
                error: function() {
                    alert('An error occurred while loading the content.');
                }
            });
        });
    });
</script>