@model WebApplication2.Models.LoginModel

@{
    ViewData["Title"] = "Login";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Ceqweqweeee123eore</a>.</p>
</div>
<h2>Host Login</h2>
@using (Html.BeginForm("Id", "Host", FormMethod.Post)) {
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h3>Host Model</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(model => model.UserName)
            <div>
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.UserPassword)
            <div>
                @Html.EditorFor(model => model.UserPassword)
                @Html.ValidationMessageFor(model => model.UserPassword)
            </div>
        </div>
        <div class="form-group">
            <div>
                <input type="submit" value="Create">
            </div>
        </div>
    </div>
}