@model WebApplication2.Models.DatabaseConnect

@{
    ViewData["Title"] = "Branch";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Ceqweqweeee123eore</a>.</p>
</div>
<h2>Slot List</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Slot Name</th>
            <th>Edge X</th>
            <th>Edge Y</th>
            <th>Reserver Id</th>
            <th>Duration start</th>
            <th>Duration end</th>
        </tr>
    </thead>

    <tbody>
    @foreach(var item in Model.SlotList) {
        <tr>
            <td>@item.FnlId</td>
            <td>@item.Name</td>
            <td>@item.EdgeX</td>
            <td>@item.EdgeY</td>
            <td>@item.ReserverId</td>
            <td>@item.ReservationStart</td>
            <td>@item.ReservationEnd</td>
        </tr>
    }
    </tbody>
</table>